[submodule ".registry"]
	path = .registry
	url = https://github.com/seguid/seguid.r-universe.dev
	branch = HEAD
[submodule "seguid"]
	path = seguid
	url = https://github.com/seguid/seguid-r
	branch = main
